<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lovebox</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" >
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/festscript.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Loveboxchangr</h1>
    </header>

    <main>
  
      <section class="fest">
        <ul id="fest">
          <em>lovebox</em>
        <map id=map></map>
        </ul>
      </section>
      

      <div id="youtubelightbox" class="parent">
        <div class="centeredchild">
            <div class="videowrapper">
                <div id="playerdiv"></div>
            </div>
        </div>
    </div>

    <p>
      Click on one of the sample links below to launch a Youtube video inside lightbox: 
      <a href="https://www.youtube.com/watch?v=Pe0jFDPHkzo" class="lightbox">Video 1</a> | <a href="https://youtu.be/oIlIVFBBbNw" class="lightbox">Video 2</a> | <a href="https://www.youtube.com/watch?v=fzrfrXhE-w4" class="lightbox">Video 3</a>
      </p>



    </main>

    <footer> <a href="index.html">Home</a></footer>

    
  </body>
</html>
